<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A user has requested the following link be added to the PCSE website:
    </p>
    <p>
      <b>Name of Site</b>: <%= @link.name %> <br>
      <b>URL</b>: <%= @link.url %> <br>
      <b>Category</b>: <%= @link.category %> <br>
      <b>Comments (optional)</b>:
    </p>
    <p>
      To approve, deny, or edit this link request, please follow the following link: http://www.wesleyan.edu/patricelli/links.html
      and log in with your administrative credentials.
    </p>
  </body>
</html>