<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello,<br>
      Congratulations! Your link request for:
    </p>
    <p>
      <b>Name of Site</b>: <%= @link.name %> <br>
      <b>URL</b>: <%= @link.url %> <br>
    </p>
    <p>
      has been approved and added to the PCSE website.
    </p>
    <p>
      Comments from administrator: <i><%= @feedback %></i>
    </p>
    <p>
      Please visit immense-basin-75453.herokuapp.com to see the updated website with your link.
    </p>
  </body>
</html>