<!DOCTYPE html>
<html>
<head>
 
</head>
<body>

<h1>Add an Administrator</h1>    

  <%= form_tag("/new_admin", method: "put") do %>
  <%= label_tag(:email, "Add email:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Add Administrator") %>
<% end %>

 
 
</body>
</html>