<!DOCTYPE html>
<html>
<head>
 
</head>
<body>

<h1>Add an Administrator</h1>    

<form>
  Admin email:<br>
  <input type="text" name="email"><br>
</form>

 <%= button_to "Submit", new_admin_path(email)%>
 
</body>
</html>