
.leftalign {
    margin: auto;
    width: 60%;
    padding: 5px;
    font-family: AvenirNext-Medium;
}

.add {
    margin: auto;
    text-align: center;
    width: 60%;
    padding: 5px;
    font-family: AvenirNext-Medium;
    
}

a:link {
    text-decoration: none;
    border:2px black;  
    padding: 2px 5px;
    font-family: AvenirNext-Medium;
}

#center {
    margin: auto;
    text-align: center;
    font-family: AvenirNext-Medium;
    
}

.mini {
    font-size: 1px;
}

.inline {
    display: inline-block;
    margin: 0 0 0 25px;
}

#internship, #grant, #job, #inspiration, #other {
    margin: 0 0 0 160px;
}
